@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@1,300&display=swap");

.paper {
  width: 60%;
  margin: 0 auto;
}

.order {
  width: 100%;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 55px;
  color: white;
  text-shadow: 3px 3px goldenrod;
  background-color: #a40606;
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
}

.form {
  margin: 0 auto;
  width: 75%;
}

.body {
  background-color: #f2c17d;
  background-image: linear-gradient(315deg, #f2c17d 0%, #b82e1f 78%);
  -moz-box-shadow: inset 0 0 50px gold;
  -webkit-box-shadow: inset 0 0 50px gold;
  box-shadow: inset 0 0 50px gold;
}

.ant-form-item-label {
  width: 100px;
  font-family: "Source Serif 4", sans-serif;
  font-weight: bold;
}

.ant-form-item-control-input {
  width: 100%;
}

.MuiBox-root {
  padding: 50px 0px;
}

.price {
  font-weight: 600;
}
